h1 {
	padding-top: 40px;
	padding-left: 70px;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: #333333;
	font-family: Impact, Charcoal, sans-serif;
}


li {

	
    line-height: 12px;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 400;
    top: 40px;
    margin: 0;
    padding: 0;
    right: 70px;
    cursor: pointer;
    display: block;
   
}

.work 
{
	position: absolute;
	left:300px;
}