h1 {
  padding-top: 40px;
  padding-left: 70px;
  font-size: 60px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #333333;
  font-family: Impact, Charcoal, sans-serif;
  display: inline-block; /* keeps the h1 and the ul on the same line */
}
ul {
  list-style: none; /* keeps the bullet points from showing */
  margin-top: 40px;
  float: right;
  display: inline-block; /* keeps the h1 and the ul on the same line */
}
li {
  /* line-height: 12px; removed since your list will only be on one line*/
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  /* top: 40px;  moved to <ul> element*/
  /* margin: 0; margin 0 is default for li elements */
  padding: 0;
  /* right: 70px; right, top, left, and bottom only works with position: relative, absolute, or static; */
  margin-right: 60px; /* works better than right in your case */
  /*cursor: pointer; this will be default if you use an <a> tag inside the <li> tag*/
  display: inline-block; /* display: block; so they show side-by-side */
  color: rgb(227, 40, 106); /* moved from inline style */
}
/*
  When you remove a class, remember to delete the code.
  .work {
    position: absolute;
    left: 300px;
  }
 */